a {  
     color: #006400;
  } 

a[target="_blank"] {
     color: #dc143c;
} 

 p:nth-child(8):hover {
   font-style: italic;
} 

 p:nth-child(4) { 
     color: #dc143c; 
     } 
  
 p:nth-last-of-type(4) {  
     color: #4682b4;
} 
  
  

 p:nth-last-child(5) { 
    color: #DC143C;
    
} 
 
span { 
    color: #ffff00; 
    
}